[Unit]
Description=Splunk Service
Wants=network.target
After=network.target
Requires=thp-disable.service

[Service]
Type=forking
ExecStart=/opt/splunk/bin/splunk start
ExecStop=/opt/splunk/bin/splunk stop
ExecReload=/opt/splunk/bin/splunk restart
StandardOutput=syslog
LimitNOFILE=65535
LimitNPROC=16384
PIDFile=/opt/splunk/var/run/splunk/splunkd.pid
Restart=on-failure
TimeoutSec=0

[Install]
WantedBy=multi-user.target
