[Unit]
Description=Splunk Service
Wants=network.target
After=network.target
Requires=thp-defrag.service

[Service]
Type=forking
ExecStart=/opt/splunk/bin/splunk start
ExecStop=/opt/splunk/bin/splunk stop
ExecReload=/opt/splunk/bin/splunk restart
StandardOutput=syslog
LimitNOFILE=65535
LimitNPROC=16384
TimeoutSec=0

[Install]
WantedBy=multi-user.target
