[Unit]
Description=Disable defrag THP for Splunk
DefaultDependencies=no
Before=splunk.service

[Service]
ExecStart=/usr/local/bin/disable_defrag.sh
Type=oneshot
